header {
  background-color: #5a9bb4;
  height: 152px;
}

.logo{
  background-image: url("../imgs/schools-giraffe.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 400px;
  height: 180px;
  text-indent: -9999px;
}

.home-button{
  float: right;
  position: relative;
  top: -115px;
  margin-right: 10px;
}

.home-button a, .signout{
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 15px;
  padding: 10px 20px;
  background-color: black;
  border-radius: 10px;
}

.signout{
  border: none;
}
.home-button a:hover, .signout:hover{
  background-color: #333333;
}

h1{
  width: 410px;
  margin: 60px auto;
}

.signup-form{
  width: 300px;
  margin: 80px auto;
}
.signup-form input{
  width: 300px;
  height: 50px;
  margin: 20px;
}

.submit:hover{
  background-color: #FFFFFF;
}
footer{
  text-align: center;
  position: absolute;
  left:0;
  bottom:10px;
  right:0;
  height: auto;
  width: 100%;
  vertical-align: text-center;
}


/*=========================
    Modal Window
==========================*/

.modal{
  display: none;
}
.answer-button{
  margin-right: 5px;
}
.survey{
  width: 500px;
  margin: 0 auto
}
