<div>
  <form action="/surveys" method="post" class="signup-form">
    <lable>Title</lable>
    <input type="text" name="title" placeholder="Enter survey title" required>
    <input type="hidden" name="user_id" value='1'>
    <input type="submit" value="Create new survey" class="submit">
  </form>
</div>
