<div>
  <% @questions.each do |question_object| %>
    <h4><%= question_object.question %></h4>
    <% question_object.answers.each do |answer_object| %>
      <p><%= answer_object.answer %></p>
    <% end %>
  <% end %>
</div>
