<header>
  <a href="/">
    <div class="logo">
      Giraffe
    </div>
  </a>
  <% if current_user %>
    <div class='home-button'>
      <form class='signout-form' action='/session/delete' method='post'>
      <input type="hidden" name="_method" value="delete">
        <input type="submit" value="Sign Out" class="signout">
        <a href="/surveys" class="signout">Surveys</a>
      </form>
    </div>
  <% else %>
    <div class='home-button'>
      <a class='login' href="#">Login</a>
      <a class='signup' href="#">Sign Up</a>
    </div>
  <% end %>
</header>
