<%= erb :_header %>
<h1>Welcome to Survey Giraffe</h1>
<% if current_user %>
  <ul>
    <li><%= @surveys %></li>
  </ul>
<% else %>
  <form action"/" method="post" class="signup-form">
    <input type="text" name="name" placeholder="Deb Wolfe" />
    <input type="text" name="email" placeholder="Mike@dbc.com" />
    <input type="text" name="password" placeholder="123qwe" />
    <input type="submit" class="submit" />
  </form>

  <div class="modal">
    <h2>
    <form action='/session' method='post'>
      <label>Email&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
      <input type='email' name='email' placeholder='survey@giraffe.com' /><br>
      <label>Password</label>
      <input type='text' name='password' placeholder='giraffe' /><br>
      <input class='login-button' type='submit' value='submit' />
    </form>
  </div>

<% end %>
<%= erb :_footer %>
